---
import { getCollection } from "astro:content";
import { format } from "date-fns";
import { ArrowLeftIcon } from "lucide-react";
import Layout from "~layouts/Layout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("notes");

  return blogEntries.map((item) => ({
    params: { slug: item.slug },
    props: { item },
  }));
}

const { item } = Astro.props;
const { Content, remarkPluginFrontmatter } = await item.render();
---

<Layout title={item.data.title} description={item.data.description} url={`https://ekel.dev/notes/${item.slug}`}>
  <div class="w-full">
    <a href="/notes" class="w-fit flex justify-center items-center">
      <button
        type="button" aria-label="back to notes"
        class="w-8 rounded-full h-8 flex justify-center items-center bg-base-5"
      >
        <ArrowLeftIcon className="text-center" />
      </button>
    </a>
    <h1 class="mt-4">{item.data.title}</h1>
    <div class="flex items-center">
      <span class="font-semibold text-base-0 mr-1.5"
        >{item.data.author}, {remarkPluginFrontmatter.minutesRead} / {
          format(item.data.created_at, "LLLL d, yyyy")
        }
      </span>
    </div>
    <p class="text-right text-xl font-semibold arabic-font">
      بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
    </p>
    <Content />
  </div>
</Layout>
