---
import { getCollection } from "astro:content";
import { format } from "date-fns";
import { ArrowLeftIcon } from "lucide-svelte";
import Layout from "~layouts/Layout.astro";

export async function getStaticPaths() {
  const notesEntries = await getCollection("notes");

  return notesEntries.map((item) => ({
    params: {
      slug: item.slug
    },
    props: {
      item
    }
  }));
}

const { item } = Astro.props;
const { Content, remarkPluginFrontmatter } = await item.render();
---

<Layout
  title={item.data.title}
  description={item.data.description}
  url={`https://ekel.dev/notes/${item.slug}`}
>
  <div class="w-full">
    <a href="/notes" class="flex w-fit items-center justify-center">
      <button
        type="button"
        aria-label="back to notes"
        class="flex h-8 w-8 items-center justify-center rounded-full bg-base-1"
      >
        <ArrowLeftIcon className="text-center" />
      </button>
    </a>
    <h1 class="mt-4">{item.data.title}</h1>
    <div class="flex items-center">
      <span class="mr-1.5 font-semibold text-base-5"
        >{item.data.author}, {remarkPluginFrontmatter.minutesRead} / {
          format(item.data.created_at, "LLLL d, yyyy")
        }
      </span>
    </div>
    <p class="arabic-font text-right text-xl font-semibold">
      بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
    </p>
    <Content />
  </div>
</Layout>
