---
import { getCollection } from "astro:content";
import { ArrowLeftIcon } from "lucide-react";
import Layout from "~layouts/Layout.astro";

export async function getStaticPaths() {
  const worksEntries = await getCollection("works");

  return worksEntries.map((item) => ({
    params: { slug: item.slug },
    props: { item }
  }));
}

const { item } = Astro.props;
const { Content, remarkPluginFrontmatter } = await item.render();
---

<Layout
  title={item.data.title}
  description={item.data.description}
  url={`https://ekel.dev/works/${item.slug}`}
>
  <div class="w-full">
    <a href="/works" class="flex w-fit items-center justify-center">
      <button
        type="button"
        aria-label="back to works"
        class="flex h-8 w-8 items-center justify-center rounded-full bg-base-5"
      >
        <ArrowLeftIcon className="text-center" />
      </button>
    </a>
    <h1 class="mt-4">{item.data.title}</h1>
    <div class="flex items-center">
      <span class="mr-1.5 font-bold text-base-0"
        >{item.data.author}, {remarkPluginFrontmatter.minutesRead}.
      </span>{" "}
      <div class="flex items-center justify-center space-x-1.5 font-bold">
        {
          item.data.preview ? (
            <>
              <a
                href={item.data.preview}
                target="_blank"
                rel="noopener noreferrer"
              >
                Preview
              </a>
              <span> / </span>
            </>
          ) : null
        }
        {
          item.data.repo ? (
            <a href={item.data.repo} target="_blank" rel="noopener noreferrer">
              Source
            </a>
          ) : null
        }
      </div>
    </div>
    <p class="arabic-font text-right text-xl font-bold">
      بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
    </p>
    <Content />
  </div>
</Layout>
