---
import { getCollection } from "astro:content";
import { ArrowLeftIcon } from "lucide-react";
import Layout from "~layouts/Layout.astro";

export async function getStaticPaths() {
  const worksCollection = await getCollection("works");

  return worksCollection.map((item) => ({
    params: { slug: item.slug },
    props: { item },
  }));
}

const { item } = Astro.props;
const { Content, remarkPluginFrontmatter } = await item.render();
---

<Layout title={item.data.title} description={item.data.description} url={`https://ekel.dev/works/${item.slug}`}>
  <div class="w-full">
    <a href="/works">
      <button
        type="button" aria-label="back to works"
        class="w-4 flex justify-center items-center rounded-full h-4 p-4 bg-base-5"
      >
        <ArrowLeftIcon />
      </button>
    </a>
    <h1 class="mt-4">{item.data.title}</h1>
    <div class="flex items-center">
      <span class="font-bold text-base-0 mr-1.5"
        >{item.data.author}, {remarkPluginFrontmatter.minutesRead}.
      </span>{" "}
      <div class="font-bold">
        <a href={item.data.preview} target="_blank" rel="noopener noreferrer"
          >Preview</a
        >
        {item.data.preview && item.data.repo ? " / " : null}
        <a href={item.data.repo} target="_blank" rel="noopener noreferrer"
          >source</a
        >
      </div>
    </div>
    <p class="text-right text-xl font-bold arabic-font">
      بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
    </p>
    <Content />
  </div>
</Layout>
