---
import { Image } from "astro:assets";
import { format } from "date-fns";

type Props = {
  thumbnail?: string;
  title: string;
  description: string;
  slug: string;
  createdAt?: Date;
  type: "works" | "notes";
  tags: string[];
};

const { thumbnail, title, description, slug, createdAt, type, tags } =
  Astro.props;
---

{
  type === "notes" ? (
    <div
      class:list={[
        "flex w-full flex-col bg-monochrome-1/70 hover:bg-monochrome-2/70 dark:bg-neutral-900/70 dark:hover:bg-neutral-800/70 transition-all p-4 card",
        "flex-wrap border-[0.5px] rounded-md overflow-hidden border-monochrome-3 border-dashed dark:border-neutral-800",
      ]}
    >
      {createdAt ? (
        <span class="font-semibold">{format(createdAt, "LLLL d, yyyy")}</span>
      ) : null}
      <a
        href={`/notes/${slug}`}
        class:list={["mt-2 cursor-pointer text-lg font-bold", "no-underline!"]}
      >
        <h3 class="mb-0 mt-0 line-clamp-2 text-2xl font-bold">{title}</h3>
      </a>
      <p class="mb-0 mt-2 line-clamp-3">{description}</p>
      <div class="flex justify-start items-center gap-2 w-fit flex-wrap">
        {tags.map((item) => (
          <a class="text-sm my-2!" href={`/tags/${item}`}>
            <span>#{item}</span>
          </a>
        ))}
      </div>
    </div>
  ) : type === "works" ? (
    <div
      class:list={[
        "flex w-full flex-col bg-monochrome-1/70 hover:bg-monochrome-2/70 dark:bg-neutral-900/70 hover:dark:bg-neutral-800/70 transition-all card",
        "flex-wrap border-[0.5px] rounded-md overflow-hidden border-monochrome-3 dark:border-neutral-800 border-dashed",
      ]}
    >
      <Image
        src={thumbnail as string}
        alt={title}
        width={500}
        height={500}
        quality={100}
        format="avif"
        class="my-0! object-cover h-48! w-full rounded-none! border-none!"
      />
      <div class="w-full p-4">
        <a
          href={`/works/${slug}`}
          class:list={["cursor-pointer text-lg font-bold", "no-underline!"]}
        >
          <h3 class="mb-0 mt-0 line-clamp-2 text-2xl font-bold">{title}</h3>
        </a>
        <p class="mb-0 mt-2">{description}</p>
        <div class="flex justify-start mt-2 items-center gap-2 w-fit flex-wrap">
          {tags.map((tag) => (
            <div class="dark:bg-neutral-800 bg-neutral-300 font-bold px-2">
              <span class="text-sm">{tag}</span>
            </div>
          ))}
        </div>
      </div>
    </div>
  ) : null
}
