---
import { Image } from "astro:assets";
import {
  AlbumIcon,
  HashIcon,
  ImagesIcon,
  ListIcon,
  NotepadTextIcon,
} from "lucide-svelte";
import { twMerge } from "tailwind-merge";
import ToggleTheme from "./svelte/ToggleTheme.svelte";

type Props = {
  currentPath: string;
};

const { currentPath } = Astro.props;

const navList = [
  {
    id: 1,
    icon: ListIcon,
    path: "/works",
  },
  {
    id: 2,
    icon: NotepadTextIcon,
    path: "/notes",
  },
  {
    id: 3,
    icon: HashIcon,
    path: "/tags",
  },
  {
    id: 4,
    icon: ImagesIcon,
    path: "/photos",
  },
  {
    id: 5,
    icon: AlbumIcon,
    path: "/guestbook",
  },
];
---

<nav
  class={twMerge(
    "md:sticky fixed md:top-0 top-4 left-0 right-0 justify-center items-center space-x-5 md:space-x-0 md:min-h-svh md:bottom-0 flex-row flex md:justify-start md:items-start md:flex-col px-3 py-1.5 md:px-4 md:py-8 md:space-y-5",
    "w-fit border-[0.5px] border-monochrome-3 dark:border-neutral-800 dark:md:border-r-neutral-800 rounded-md md:rounded-none md:border-y-0 md:border-l-0 md:border-r-[0.5px] mx-auto md:mx-0",
    "bg-monochrome-1/70 dark:bg-neutral-950/70 transition-all backdrop-blur-md md:border-r-monochrome-3 z-50"
  )}
>
  <a data-cy="home-btn" href="/" aria-label="/">
    <button
      type="button"
      aria-label="/"
      class={twMerge(
        "p-1.5 cursor-pointer bg-monochrome-3 dark:bg-neutral-900 rounded-full"
      )}
    >
      <Image
        class="rounded-full h-6 w-6 object-cover photos"
        alt="Github Profile"
        width={500}
        height={500}
        quality={100}
        draggable={false}
        format="avif"
        src="https://avatars.githubusercontent.com/u/77146709?v=4"
      />
    </button>
  </a>
  {
    navList.map((item) => {
      const Icon = item.icon;
      return (
        <a
          data-cy={`${item.path.slice(1)}-btn`}
          href={item.path}
          aria-label={item.path}
          class="cursor-pointer"
        >
          <button
            type="button"
            aria-label={item.path}
            class={twMerge(
              "p-1.5 cursor-pointer",
              currentPath.includes(item.path)
                ? "bg-monochrome-3 dark:bg-neutral-900 rounded-full"
                : ""
            )}
          >
            <Icon
              size={21}
              class={twMerge("font-bold dark:text-monochrome-1")}
            />
          </button>
        </a>
      );
    })
  }
  <ToggleTheme client:load />
</nav>
