---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const [notesList, worksList] = await Promise.all([
  await getCollection("notes"),
  await getCollection("works"),
]);
---

<Layout
  title="Haikel Ilham Hakim"
  description="Javascript / Typescript"
  url="https://ekel.dev"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <section class="w-full">
      <div
        class="slide-enter-content flex w-fit space-x-0 md:space-x-4 relative justify-start items-start"
      >
        <Image
          src="https://avatars.githubusercontent.com/u/77146709?v=4"
          alt="Github Profile"
          width={500}
          height={500}
          quality={100}
          draggable={false}
          format="avif"
          class="photos !w-36 !my-0 hidden md:block !border-none object-cover"
        />
        <div>
          <h2 data-cy="name" class="!mb-0 !mt-0">Haikel Ilham Hakim</h2>
          <p data-cy="description" class="!mb-0 mt-2 text-justify text-base-0">
            Konnichiwa! I'm Haikel. You can call me <b>Haikel/Kel/Ekel</b> with the
            <b>"E"</b> pronounce is <b>"Emas"</b>. I'm a Developer based in
            Indonesia, also an amateur photographer in my free time. Day-to-day,
            I mostly working on Frontend stuff and currently learning Go,
            Svelte, also DevOps.
          </p>
        </div>
      </div>
    </section>
    <section data-cy="experience" class="mt-8 w-full slide-enter-content">
      <h2 class="mb-6 mt-0 font-extrabold">Experience</h2>
      <div class="space-y-3 slide-enter-content">
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">Dibimbing.id - Internship</h3>
            <span class="mt-1.5 rounded-sm text-sm font-semibold sm:mt-0"
              >Sep 2024 - Dec 2024</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Fullstack Engineer</p>
        </div>
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">Infinite Learning - Apprenticeship</h3>
            <span class="mt-1.5 rounded-sm text-sm font-semibold sm:mt-0"
              >Feb 2024 - Jun 2024</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Web Development & UI/UX Design</p>
        </div>
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">[Undisclosed] - Freelance</h3>
            <span class="mt-1.5 rounded-sm text-sm font-semibold sm:mt-0"
              >Nov 2023 - Dec 2023</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Frontend Web Developer</p>
        </div>
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">We Up Indonesia - Contract</h3>
            <span class="mt-1.5 rounded-sm text-sm font-semibold sm:mt-0"
              >Oct 2022 - Dec 2022</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Frontend Web Developer</p>
        </div>
      </div>
    </section>
    <section data-cy="featured-works" class="mt-8 w-full slide-enter-content">
      <h2 class="mt-0 mb-6 font-extrabold">Featured Works</h2>
      <div
        class="grid w-full grid-cols-1 grid-rows-1 gap-4 sm:grid-cols-2 slide-enter-content"
      >
        {
          worksList
            .sort((a, b) => a.data.id - b.data.id)
            .slice(0, 4)
            .map((item) => (
              <Card
                title={item.data.title}
                description={item.data.description}
                thumbnail={item.data.thumbnail}
                type="works"
                slug={item.slug}
              />
            ))
        }
      </div>
    </section>
    <section data-cy="featured-notes" class="mt-8 w-full">
      <h2 class="mt-0 mb-6 font-extrabold">Latest Notes</h2>
      <div class="grid w-full grid-cols-1 grid-rows-1 gap-4 sm:grid-cols-2">
        {
          notesList
            .sort(
              (a, b) =>
                new Date(b.data.created_at).getTime() -
                new Date(a.data.created_at).getTime()
            )
            .slice(0, 4)
            .map((item) => (
              <Card
                title={item.data.title}
                description={item.data.description}
                slug={item.slug}
                createdAt={item.data.created_at}
                type="notes"
              />
            ))
        }
      </div>
    </section>
  </div>
</Layout>
