---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const worksList = await getCollection("works");
---

<Layout
  title="Works"
  description="List some of my works."
  url="https://ekel.dev/works"
  ogImage="works.png"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start  mx-auto",
      "md:text-start",
    ]}
  >
    <section class="w-full mt-8">
      <h1
        data-cy="heading"
        class="mb-4 mt-0 text-3xl sm:text-4xl md:text-5xl font-medium tracking-tighter text-foreground"
      >
        Works
      </h1>
      <div class="slide-enter-content">
        <p
          data-cy="description"
          class="mb-0 text-lg sm:text-xl text-muted-foreground"
        >
          A collection of projects I've built.
        </p>
      </div>
    </section>
    <section
      data-cy="works-list"
      class="grid w-full grid-cols-1 mt-16 sm:mt-24 sm:grid-cols-2 gap-6 slide-enter-content"
    >
      {
        worksList
          .sort((a, b) => a.data.id - b.data.id)
          .map((item) => (
            <Card
              slug={item.id}
              title={item.data.title}
              description={item.data.description}
              type="works"
              thumbnail={item.data.thumbnail}
              tags={item.data.stack}
            />
          ))
      }
    </section>
  </div>
</Layout>
