---
import "@fontsource/geist-mono";
import "@fontsource/geist-sans";
import "@fontsource/noto-naskh-arabic";
import Navbar from "~components/Navbar.astro";
import "../index.css";

type Props = {
  title: string;
  description: string;
  url: string;
};

const { title, description, url } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://ekel.dev/opengraph.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="https://ekel.dev/opengraph.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap.xml" />
  </head>
  <body class="w-full bg-base-0">
    <main
      class="flex min-h-screen w-full items-start justify-center leading-[1.75] tracking-wide text-base-5"
    >
      <div
        class="container prose prose-base prose-invert mx-auto w-full max-w-3xl px-4 pb-24 pt-8"
      >
        <slot />
      </div>
    </main>
    <Navbar />
  </body>
</html>
