---
import "@fontsource/bricolage-grotesque";
import "@fontsource/ibm-plex-mono";
import "@fontsource/noto-naskh-arabic";
import { ViewTransitions } from "astro:transitions";
import Navbar from "~components/Navbar.astro";
import "../index.css";

interface Props {
  title: string;
  description: string 
  url: string 
}

const { title, description,url } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ekel.dev" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://ekel.dev/opengraph.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://ekel.dev" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="https://ekel.dev/opengraph.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body class="bg-white w-full" >
    <main
      class="flex min-h-screen w-full leading-[1.75] tracking-wide text-base-0 justify-center items-start"
    >
      <div
        class="max-w-3xl mx-auto w-full container prose prose-gray prose-base px-4 pt-8 pb-24"
      >
        <slot />
      </div>
    </main>
    <Navbar />
  </body>
</html>
