---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const [notesList, worksList] = await Promise.all([
  await getCollection("notes"),
  await getCollection("works"),
]);
---

<Layout
  title="Haikel Ilham Hakim"
  description="Software Developer"
  url="https://ekel.dev"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <section class="w-full">
      <div
        class="slide-enter-content flex w-fit space-x-0 md:space-x-4 relative justify-start items-start"
      >
        <div
          class="bg-monochrome-3 -rotate-3 hover:rotate-0 cursor-pointer transition-all dark:bg-neutral-900 hidden md:block p-1.5 rounded-md w-[500px] h-fit"
        >
          <Image
            src="https://avatars.githubusercontent.com/u/77146709?v=4"
            alt="Github Profile"
            width={500}
            height={500}
            quality={100}
            draggable={false}
            format="avif"
            class="photos w-36! my-0! border-none! object-cover"
          />
        </div>
        <div>
          <h2 data-cy="name" class="mb-0! mt-0!">Haikel Ilham Hakim</h2>
          <p data-cy="description" class="mb-0! mt-2 text-justify">
            Konnichiwa! I'm Haikel. You can call me <b>Haikel/Kel/Ekel</b> with the
            <b>"E"</b> pronounce is <b>"Emas"</b>. I'm a Software Developer
            based in Indonesia, also an amateur photographer/mechanic in my free
            time. Day-to-day, I mostly working on Frontend stuff and currently
            learning Go, Svelte, and DevOps.
          </p>
        </div>
      </div>
    </section>
    <section data-cy="experience" class="mt-8 w-full slide-enter-content">
      <h2 class="mb-6 mt-0 font-extrabold">Experience</h2>
      <div class="space-y-5 slide-enter-content">
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">[Undisclosed]</h3>
            <span class="mt-1.5 rounded-xs text-sm font-semibold sm:mt-0"
              >Sep 2025 - Present</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Backend Developer</p>
          <ul
            class="!mt-3 !space-y-0 text-justify list-disc list-outside !pl-[1.1rem]"
          >
            <li>
              <p class="!my-0">Bantu - bantu ngurusin Backend using Go.</p>
            </li>
          </ul>
        </div>
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">Linkupcareer.id</h3>
            <span class="mt-1.5 rounded-xs text-sm font-semibold sm:mt-0"
              >April 2025 - Present</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Frontend Web Developer</p>
          <ul
            class="!mt-3 !space-y-0 text-justify list-disc list-outside !pl-[1.1rem]"
          >
            <li>
              <p class="!my-0">
                Bantu - bantu ngurusin Frontend. Managing HRM, Internal Email,
                and other internal tools.
              </p>
            </li>
          </ul>
        </div>
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">Puskesmas Pangkalbalam</h3>
            <span class="mt-1.5 rounded-xs text-sm font-semibold sm:mt-0"
              >Mar 2025 - Jul 2025</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Software Developer</p>
          <ul
            class="!mt-3 !space-y-0 text-justify list-disc list-outside !pl-[1.1rem]"
          >
            <li>
              <p class="!my-0">
                Built a lung patient management system named SOBAT HEBAT (Sistem
                Informasi Pengobatan Agar Tubuh Sehat Bebas TBC) using Next JS
                an Nest JS.
              </p>
            </li>
            <li>
              <p class="!my-0">
                Implemented monorepo concept for the Frontend side using <a
                  href="https://nx.dev/"
                  target="_blank"
                  rel="noopener noreferrer">Nx</a
                > also its remote caching using Nx Cloud, Error monitoring using
                Sentry, and Backend API Monitoring using Prometheus + Grafana.
              </p>
            </li>
            <li>
              <p class="!my-0">
                Implemented Progressive Web App (PWA) to make the Website easier
                to use and more accessible by elderly users.
              </p>
            </li>
            <li>
              <p class="!my-0">
                Wrote unit testing both for the Frontend and Backend side.
              </p>
            </li>
            <li>
              <p class="!my-0">
                Set up code formatting and linting tools like Biome, also wrote
                Docker multistage build configuration.
              </p>
            </li>
          </ul>
        </div>
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">Dibimbing.id</h3>
            <span class="mt-1.5 rounded-xs text-sm font-semibold sm:mt-0"
              >Sep 2024 - Dec 2024</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Fullstack Engineer</p>
          <ul
            class="!mt-3 !space-y-0 text-justify list-disc list-outside !pl-[1.1rem]"
          >
            <li>
              <p class="!my-0">
                Assisted Dibimbing Tech Team in creating an academic system for
                <a
                  href="https://www.cakrawala.ac.id/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Cakrawala University
                </a>.
              </p>
            </li>
            <li>
              <p class="!my-0">
                Conducted research with colleagues and advised Dibimbing Tech
                Team on the selection of the backend stack between Node.js and
                Go for the Cakrawala University project based on some use cases.
              </p>
            </li>
            <li>
              <p class="!my-0">
                Constructed the Frontend and Backend of the project using Next
                JS and Go Fiber.
              </p>
            </li>
            <li>
              <p class="!my-0">
                Set up code formatting and linting tools like ESLint and
                Prettier, also wrote Docker multistage build configuration for
                the Frontend side.
              </p>
            </li>
            <li class="!my-0">
              <p class="!my-0">
                Played a key role in developing the shortlist registration,
                biodata, admin biodata verification, and maintenance condition
                features.
              </p>
            </li>
          </ul>
        </div>
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">Infinite Learning</h3>
            <span class="mt-1.5 rounded-xs text-sm font-semibold sm:mt-0"
              >Feb 2024 - Jun 2024</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Web Development & UI/UX Design</p>
          <ul
            class="!mt-3 !space-y-0 text-justify list-disc list-outside !pl-[1.1rem]"
          >
            <li>
              <p class="!my-0">
                Responsible as a Programmer to do market research, conducted
                business analysis, performed usability testing.
              </p>
            </li>
            <li>
              <p class="!my-0">
                Constructed the Frontend and Backend of the project from scratch
                using React JS (Frontend) and Express JS (Backend).
              </p>
            </li>
            <li class="!my-0">
              <p class="!my-0">
                Assisted colleagues in troubleshooting Javascript and React
                JS-related issues.
              </p>
            </li>
          </ul>
        </div>
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">[Undisclosed]</h3>
            <span class="mt-1.5 rounded-xs text-sm font-semibold sm:mt-0"
              >Nov 2023 - Dec 2023</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Frontend Web Developer</p>
          <ul
            class="!mt-3 !space-y-0 text-justify list-disc list-outside !pl-[1.1rem]"
          >
            <li>
              <p class="!my-0">
                Responsible for handling, fixing bugs, and developing requested
                features to the existing dashboard. The dashboard was created
                using React JS, Tailwind CSS, and Context API.
              </p>
            </li>
            <li class="!my-0">
              <p class="!my-0">
                Improve the performance of the dashboard and remove unused or
                redundant code.
              </p>
            </li>
          </ul>
        </div>
        <div>
          <div
            class="flex w-full flex-col items-start justify-start sm:flex-row sm:items-center sm:justify-between"
          >
            <h3 class="mb-0 mt-0">We Up Indonesia</h3>
            <span class="mt-1.5 rounded-xs text-sm font-semibold sm:mt-0"
              >Oct 2022 - Dec 2022</span
            >
          </div>
          <p class="mb-0 mt-3 sm:mt-1">Frontend Web Developer</p>
          <ul
            class="!mt-3 !space-y-0 text-justify list-disc list-outside !pl-[1.1rem]"
          >
            <li>
              <p class="!my-0">
                Responsible for slicing and building a company profile Website
                for We Up using Next JS, Typescript, Tailwind CSS, and AOS.
              </p>
            </li>
            <li class="!my-0">
              <p class="!my-0">
                Write documentation about the project and collaborate with other
                divisions.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section data-cy="featured-works" class="mt-8 w-full slide-enter-content">
      <h2 class="mt-0 mb-6 font-extrabold">Featured Works</h2>
      <div
        class="grid w-full grid-cols-1 grid-rows-1 gap-4 sm:grid-cols-2 slide-enter-content"
      >
        {
          worksList
            .sort((a, b) => a.data.id - b.data.id)
            .slice(0, 4)
            .map((item) => (
              <Card
                title={item.data.title}
                description={item.data.description}
                thumbnail={item.data.thumbnail}
                type="works"
                slug={item.slug}
                tags={item.data.stack}
              />
            ))
        }
      </div>
    </section>
    <section data-cy="featured-notes" class="mt-8 w-full">
      <h2 class="mt-0 mb-6 font-extrabold">Latest Notes</h2>
      <div class="grid w-full grid-cols-1 grid-rows-1 gap-4 sm:grid-cols-2">
        {
          notesList
            .sort(
              (a, b) =>
                new Date(b.data.created_at).getTime() -
                new Date(a.data.created_at).getTime()
            )
            .slice(0, 4)
            .map((item) => (
              <Card
                title={item.data.title}
                description={item.data.description}
                slug={item.slug}
                createdAt={item.data.created_at}
                tags={item.data.tags}
                type="notes"
              />
            ))
        }
      </div>
    </section>
  </div>
</Layout>
