---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout
  title="Photos"
  description="Some of the photos that I've taken. All of the photos are taken using a 56mm f/1.8 lens from TTArtisan."
  url="https://ekel.dev/photos"
>
  <div
    class:list={[
      "flex w-full flex-col items-start justify-start",
      "md:text-start",
    ]}
  >
    <section class="w-full">
      <h1 data-cy="heading" class="mb-0">./photos</h1>
      <div class="slide-enter-content">
        <p data-cy="description" class="mb-0 text-justify">
          Some of the photos that I've taken. All of the photos are taken using
          a 56mm f/1.8 lens from TTArtisan. For more photos, you can check my <a
            href="https://www.instagram.com/ekel.tsx/"
            rel="noopener noreferrer"
            target="_blank">Instagram</a
          >.
        </p>
      </div>
    </section>
    <section
      data-cy="photos-list"
      class="mt-8 grid w-full gap-1 grid-cols-1 grid-rows-1 sm:grid-cols-3 md:grid-cols-5 slide-enter-content"
    >
      <Image
        width={1080}
        height={1440}
        quality={100}
        draggable={false}
        layout="constrained"
        format="avif"
        src="/images/photos/DSC03501.jpg"
        alt="MRT Jakarta"
        class="photos my-0! w-full! h-full! rounded-none! border-none! object-cover"
      />
      <Image
        width={1440}
        height={1080}
        quality={100}
        draggable={false}
        layout="constrained"
        format="avif"
        src="/images/photos/DSC03493.jpg"
        alt="Dukuh Atas"
        class="photos my-0! col-span-1 w-full! h-full! sm:col-span-2 rounded-none! border-none! object-cover"
      />
      <Image
        width={1440}
        height={1080}
        quality={100}
        draggable={false}
        layout="constrained"
        format="avif"
        src="/images/photos/DSC03597.jpg"
        alt="Devfest Bandung"
        class="photos my-0! rounded-none! w-full! row-span-1 sm:row-span-2 md:col-span-2 col-span-1 h-full! border-none! object-cover"
      />
      <Image
        width={1440}
        height={1080}
        quality={100}
        draggable={false}
        layout="constrained"
        format="avif"
        src="/images/photos/DSC03059.jpg"
        alt="Bangunan"
        class="photos my-0! rounded-none! w-full! h-full! border-none! object-cover col-span-1 sm:col-span-2 md:col-span-3"
      />
      <Image
        width={1440}
        height={1080}
        quality={100}
        draggable={false}
        layout="constrained"
        format="avif"
        src="/images/photos/DSC03339.jpg"
        alt="Bangunan"
        class="photos my-0! rounded-none! w-full! h-[280px]! border-none! object-cover col-span-1 md:col-span-5 sm:col-span-2"
      />
    </section>
  </div>
</Layout>
